<!DOCTYPE html>
<html>
<head>
  <title>ProjectName</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar %>
<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
